/*General*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: "Roboto";
}

a{
    text-decoration: none;
}

i{
    font-size: 18px;
}

h1{
    font-size: 48px;
    font-weight: bold;
}

h2{
    font-size: 40px;
    font-weight: bold;
}

h3{
    font-size: 32px;
    font-weight: bold;
}

h4{font-weight: bold;}

p{
    font-size: 24px;
}

hr{
    background-color: white;
    width: 100%;
}

.paddingtop-sm{padding-top:25px ;}
.paddingtop-md{padding-top:40px ;}
.paddingtop-lg{padding-top:60px ;}

.paddingbtm-sm{padding-bottom:25px ;}
.paddingbtm-md{padding-bottom:40px ;}
.paddingbtm-lg{padding-bottom:60px ;}

.margintop-sm{margin-top: 25px;}
.margintop-md{margin-top: 40px;}
.margintop-lg{margin-top: 60px;}

.marginbtm-sm{margin-bottom: 25px;}
.marginbtm-md{margin-bottom: 40px;}
.marginbtm-lg{margin-bottom: 60px;}

.centrado{
    max-width: 960px;
    margin: 0 auto 40px auto;
    text-align:center;
}

.active{
    background-color: #f6f6f6;
    padding: 0 4px;
    border-radius: 2px;
}

/*Navbar inicio*/

.navbar{
    background-color: white;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, .05);
    min-height: 100px;
}

.nav-link{
    color: black;
    text-decoration: none;
    font-size: 16px ;
}

.nav-link:hover {
    color:#333333;
}

.navbar-toggler{
    font-size: 40px;
}

.navbar-toggler:focus{
    outline: none;
}
/*Navbar fin*/

/*Imagen de fondo inicio*/

.imagen{
    background-image: url("../Img/Programador-computador-960x540.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 540px;
    filter: blur(4px);
}

.elementos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 45%;
    padding-bottom: 150px ;  
}

.elementos h3, .elementos p{
    font-weight: bolder;
}

.btn{
    font-size:18px;
    font-weight: bold;
    padding:15px 25px;
    min-width: 160px;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover{background-color: #d6e0f0; transition: all 0.3s ease;}

.btn-light{
    color: black;
    background-color:white;
}
/*Imagen de fondo fin*/

/*Mis conocimientos inicio*/

.card{
    background-color: #e3dfc8;
    border-radius:8px ;
    min-height: 220px;
    transition: 1s;
}

.card-tittle{
    padding-top:20px ;
    color: black;
}

.card-text{
    font-size: 18px;
    color:black;
}

.card:hover{
    background-color:#f7f2e7 ;
    -webkit-box-shadow: 10px 13px 33px -7px rgba(0,0,0,0.71);
    -moz-box-shadow: 10px 13px 33px -7px rgba(0,0,0,0.71);
    box-shadow: 10px 13px 33px -7px rgba(0,0,0,0.71);
    transform: scale(1.1);
}

.encabezados{
    color:black;
}

.encabezados:hover{
    color: #706c61;
}
/*Mis conocimientos fin*/

/*Portfolio inicio*/

.portfolio{
    background-color: #e1f4f3;
}

.container-proyectos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-proy{
    min-width: 24%;
    min-height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor:pointer;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
}

.img-proy > a img{
    width: 280px;
    height: 280px;
    object-fit: cover;
    display: block;
}

.hover-proy img {
    width: 180px;
    height: 180px;
    background:none;
}

.hover-proy p {
    color:white;
}

.hover-proy{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background: rgb(20,83,116, 0.5);
    transition: transform .5s;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-proy:hover .hover-proy{
    transform:scale(0);
}

/*Portfolio fin*/

/*Acerda de mí inicio*/
#About_me{
    background-color: white;
}

#redes{
    list-style: none;
}

#redes li a{
    text-decoration: none;
    color: black;
    font-size: 18px ;
    margin-left: 10px;
}

#redes li a i{
    font-size: 24px;
    margin: 15px 10px 0 0;
}

#redes li:hover{
    color: #706c61;
}
/*Acerca de mí fin*/

/*Footer inicio*/
    .tfooter, .ttext{
        color: white;
    }

    .tfooter{
        font-size: 20px;
    }

    .ttext{
        font-size: 14px;
    }

    .row .col-md-4 ul{
        padding-left:0px ;
    }

    .row .col-md-4 ul li {
        color: white;
        list-style: none;
    }

    .row .col-md-4 ul li a{
        text-decoration: none;
        color: white;
    }

    .row .col-md-4 ul li a:hover{
        text-decoration: underline;
    }

    .copyright{color: white;}
/*Footer fin*/

/*Media queries*/
@media (max-width: 575.98px) { 
    h3{
        color: white;
    }

    #parrafo{
        color: white;
    }

    .elementos{
        padding-top: 110px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        width: 45%;
    }

    .card{
        margin-bottom: 20px;
    }

    .container-proyectos{
        margin: auto;
    }
    
    .img-proy{
        max-width: 74%;
        min-height: 200px;
        margin-bottom: 10px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;
        position: relative;
        cursor:pointer;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
    }

    .img-proy > a img{
        max-width: 500px;
        max-height: 500px;
        object-fit: cover;
        display: block;
    }

    .hover-proy img {
        width: 100px;
        height: 100px;
    }

    .hover-proy{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        background: rgb(20,83,116, 0.5);
        transition: transform .5s;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #perfil{
        margin-right: 15px;
        margin-bottom: 20px;
    }

    #About-me p{
        text-align: center;
        margin: 0px auto;
        max-width: 575.98px;
    }

    #redes li {
        margin-left:25px;
    }



}


@media (max-width: 767.98px) { ... }


@media (max-width: 991.98px) { ... }


@media (max-width: 1199.98px) { ... }